a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.wrapItUp {
  z-index: -2;
}

.loader {
  background-color: white;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  position: fixed;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  pointer-events: none;
}

.loaderIconWrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 91;
  pointer-events: none;
}

.loaderIconWrap .loaderIcon {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
}

.loaderIconWrap .loaderIcon span {
  font-size: 3em;
  font-family: "Shrikhand", cursive;
  -webkit-animation: wobble 1.5s ease-in-out 3;
          animation: wobble 1.5s ease-in-out 3;
}

.loaderIconWrap .loaderIcon span:nth-child(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.loaderIconWrap .loaderIcon span:nth-child(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loaderIconWrap .loaderIcon span:nth-child(4) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.loaderIconWrap .loaderIcon span:nth-child(5) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.loaderIconWrap .loaderIcon span:nth-child(6) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.loaderIconWrap .loaderIcon span:nth-child(7) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pointer {
  from {
    pointer-events: auto;
  }
  to {
    pointer-events: none;
  }
}

@keyframes pointer {
  from {
    pointer-events: auto;
  }
  to {
    pointer-events: none;
  }
}

@-webkit-keyframes wobble {
  0%, 100% {
    font-size: 3em;
  }
  25% {
    font-size: 2em;
  }
  75% {
    font-size: 3.5em;
  }
}

@keyframes wobble {
  0%, 100% {
    font-size: 3em;
  }
  25% {
    font-size: 2em;
  }
  75% {
    font-size: 3.5em;
  }
}

.t1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 24px;
}

.resHeartContain {
  position: relative;
}

.resHeartContain div {
  position: absolute;
}

.resHeartContain .resHeartTop {
  color: gray;
  z-index: 1;
  font-size: 2em;
}

.resHeartContain .resHeartBottom {
  color: white;
  z-index: -1;
  font-size: 2em;
}

.resHeartBottom {
  z-index: 93;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #9356dc), color-stop(50%, white));
  background-image: linear-gradient(0deg, #9356dc 50%, white 50%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.resHeartTop:hover ~ .resHeartBottom {
  -webkit-animation: heartAni 420ms ease 1;
          animation: heartAni 420ms ease 1;
  background-position: 50% 100%;
}

@-webkit-keyframes heartAni {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes heartAni {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@-webkit-keyframes slightFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes slightFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes borderGrow {
  from {
    -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
            filter: drop-shadow(0px 0px 8px #d1d1d1);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 10px #ff15e0);
            filter: drop-shadow(0px 0px 10px #ff15e0);
  }
}

@keyframes borderGrow {
  from {
    -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
            filter: drop-shadow(0px 0px 8px #d1d1d1);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 10px #ff15e0);
            filter: drop-shadow(0px 0px 10px #ff15e0);
  }
}

@-webkit-keyframes borderGrowLight {
  from {
    -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
            filter: drop-shadow(0px 0px 8px #d1d1d1);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 10px #90007d);
            filter: drop-shadow(0px 0px 10px #90007d);
  }
}

@keyframes borderGrowLight {
  from {
    -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
            filter: drop-shadow(0px 0px 8px #d1d1d1);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 10px #90007d);
            filter: drop-shadow(0px 0px 10px #90007d);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .logoBanner {
  background-color: white;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 3px 5px #cfcfcf);
          filter: drop-shadow(0px 3px 5px #cfcfcf);
}

header .logoBanner img {
  width: 164px;
}

header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
  color: #353535;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

header .location i {
  margin-right: 18px;
}

header .explorerAdvert {
  background-color: #f6f6f6;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .explorerAdvert .explorFlex {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header .explorerAdvert .explorFlex .title {
  margin-bottom: 50px;
}

header .explorerAdvert .explorFlex .explorerBlurb {
  font-size: 20px;
  font-weight: 300;
  color: #4d4d4d;
  margin-bottom: 34px;
}

header .explorerAdvert .explorFlex .exploreButton button {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
          filter: drop-shadow(0px 0px 8px #d1d1d1);
}

header .explorerAdvert .explorFlex .exploreButton button:hover {
  -webkit-animation: slightFade 400ms, borderGrow 400ms;
          animation: slightFade 400ms, borderGrow 400ms;
  -webkit-filter: drop-shadow(0px 0px 10px #ff15e0);
          filter: drop-shadow(0px 0px 10px #ff15e0);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0.8;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 442px;
}

header nav .title {
  width: 94%;
  margin-top: 34px;
  margin-bottom: 34px;
}

header nav .navFlex {
  width: 94%;
  height: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .navFlex .menuBar {
  background-color: #f6f6f6;
  position: relative;
  border-radius: 20px;
  width: calc(100% - 13px);
  height: 74px;
  -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
          filter: drop-shadow(0px 0px 8px #d1d1d1);
}

header nav .navFlex .menuBar:hover {
  -webkit-animation: slightFade 2s, borderGrow 2s;
          animation: slightFade 2s, borderGrow 2s;
  -webkit-filter: drop-shadow(0px 0px 10px #ff15e0);
          filter: drop-shadow(0px 0px 10px #ff15e0);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0.8;
}

header nav .navFlex .menuBar .menuBarText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header nav .navFlex .menuBar .menuBarText .mbt1 {
  color: #7e7e7e;
  width: 74px;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

header nav .navFlex .menuBar .menuBarText .mbt2 {
  text-align: left;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

header nav .navFlex .menuBar .menuBarNum {
  width: 26px;
  height: 26px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -13px;
  top: 24px;
  position: absolute;
}

main {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 500px;
  padding-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .title {
  width: 94vw;
  margin-bottom: 24px;
}

main .restCardsFlex {
  width: 94vw;
}

main .restCardsFlex .resCard {
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 8px #d1d1d1);
          filter: drop-shadow(0px 0px 8px #d1d1d1);
  height: calc(50vw + 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  margin-bottom: 24px;
}

main .restCardsFlex .resCard:hover {
  -webkit-animation: slightFade 400ms, borderGrowLight 400ms;
          animation: slightFade 400ms, borderGrowLight 400ms;
  -webkit-filter: drop-shadow(0px 0px 10px #90007d);
          filter: drop-shadow(0px 0px 10px #90007d);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0.8;
}

main .restCardsFlex .resCard .resHeartMove {
  height: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .restCardsFlex .resCard .resHeartMove .resHeartContain {
  right: 26px;
}

main .restCardsFlex .resCard .resInfoContainer {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .restCardsFlex .resCard .resInfoContainer .resInfo .resName {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2px;
}

main .restCardsFlex .resCard .resInfoContainer .resInfo .resLocation {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

main .restCardsFlex .resCard .resImg {
  width: 94vw;
  margin-bottom: 8px;
}

main .restCardsFlex .resCard .resImg img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 94vw;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footFlex {
  width: 90%;
  height: 70%;
}

footer .footFlex .f1 img {
  width: 100px;
  height: 18px;
  fill: white;
  margin-bottom: 27px;
}

footer .footFlex .feet {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 10px;
}

footer .footFlex .f2 {
  font-weight: 400;
}

footer .footFlex .f3 {
  font-weight: 200;
}

.gapper {
  height: 50px;
}

@media only screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin: auto;
  }
  main .restCardsFlex {
    width: 1100px;
  }
  main .restCardsFlex .resCard {
    width: 1100px;
    height: 460px;
  }
  main .restCardsFlex .resCard .resImg {
    width: 1100px;
    height: 400px;
  }
  main .restCardsFlex .resCard .resImg img {
    width: 1100px;
    height: 400px;
  }
  main .title {
    width: calc(1100px - 5%);
  }
}
/*# sourceMappingURL=style.css.map */