$light-gray: #f6f6f6;
$font-titleStack: 'Shrikhand', cursive;
$font-subStack: 'Roboto', sans-serif;
$color-purple: #9356DC;
$color-pink: #FF79DA;
$color-teal: #99E2D0;
$border-button: drop-shadow(0px 10px 8px #b8b8b8);
$border-button-before: drop-shadow(0px 0px 4px #b8b8b8);
$heart-size: 24px;
$heart-move: -16px;
$max-width: 1100px;


a:link {
    text-decoration: none;
    color: black;
}
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }

  .backArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    font-size: 2em;
    i {
        color: black;
    }
  }
body {
    margin: 0px;
}
.t1 {
    font-family: $font-subStack;
    font-weight: 800;
    font-size: 24px;
}
.t2 {
    font-family: $font-titleStack;
    font-weight: 400;
    font-size: 28px;
}
.resHeartContain {
    right: 40px;
    top: 38px;
    position:absolute;
    

    div {
        position:absolute;
    }
    .resHeartTop{
        color: gray;
        z-index: 1;
        font-size: $heart-size;
    }
    .resHeartBottom{
        color: white;
        z-index: -1;
        font-size:$heart-size;
    }
}
.resHeartBottom{
    z-index: 93;
    background-image: linear-gradient(0deg, rgba(147,86,220,1) 50%, rgba(255,255,255,1) 50%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.resHeartTop:hover ~ .resHeartBottom {
    animation: heartAni 2s ease 1;
    background-position:50% 100%;
}

@keyframes heartAni {
    0%{background-position:0% 0%}
    100%{background-position:50% 100%}
}
@keyframes slightFade {
    0% {opacity: 0.9}
    100% {opacity: 0.5}
}
@keyframes tileFadeIn {
    0%{
        opacity: 0;
        transform: translateY(30px);
        filter: $border-button-before;
    }
    50% {
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        filter: $border-button;
    }
}
header  {
    background: $light-gray;
    display: flex;
    flex-direction: column;
    nav {
        .logoBanner {
            background-color: white;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: drop-shadow(0px 3px 5px #cfcfcf);
            img {
                width: 164;
            }
        }
    }
    .banner {
        img {
            width:100%;
            height: 260px;
            object-fit: cover;
            z-index: -1;
        }
    }
    .titleCard {
        width: 100%;
        height: 70px;
        background-color: $light-gray;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -34px;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .titleFlex {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .resHeartMove {
        flex-grow: 1;
        text-align: right;
    }
    .title {
        flex-grow: 1;
    }
    .subMenuGapper {
        flex-grow: 1;
    }
} 
main {
   background-color: $light-gray;
   width: 100%;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   .menuFlex {
       display: flex; 
       flex-direction: column;
       width: 94%;
       justify-content: center;
       .underline {
           width: 40px;
           height: 3px;
           background-color: $color-teal;
           margin-bottom: 14px;
       }
       .menuSecFlex {
           display: flex;
           flex-direction: column;

           .mTile {
               width: 100%;
               font-size: 16px;
               font-weight: 400;
           }
       }
   }
   .exploreButton {
    button {
        width: 218px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background: linear-gradient(0deg, $color-purple 0%, $color-pink 100%);
        color: white;
        font-family: $font-subStack;
        font-weight: 400;
        font-size: 16px;
        filter: $border-button;
        margin-top: 50px;
        margin-bottom: 70px;
        &:hover {
            opacity: 0.8;
        }
    }

}
}
.menuSecFlex div:nth-child(4) {
    animation-delay: 0.3s;
}
.menuSecFlex div:nth-child(5) {  
    animation-delay: 0.6s;
}
.menuSecFlex div:nth-child(6) {  
    animation-delay: 0.9s;
}
.menuSecFlex div:nth-child(6) {  
    animation-delay: 1.2s;
}

.subMenuFlex {
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:white;
    filter: $border-button;
    border-radius: 15px;
    margin-bottom: 20px;
    animation: tileFadeIn 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    .dishFlex {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-top: 8px;
        flex-grow: 1;
        .dish {
            font-family: $font-subStack;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .dishDisc {
            font-family: $font-subStack;
            font-size:18px;
            font-weight: 400;
            margin-bottom: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; 
            width: calc(100vw - 180px);
            background-color: red;
        }
    }
    .price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-right: 8px;
        margin-bottom: 10px;
        font-family: $font-subStack;
        font-weight: 600;
        font-size: 16px;
        background-color: green;
    }
    .subMenuGapper {
    }
}
footer {
    background-color: #353535;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footFlex {
        width: 90%;
        height: 70%;
        .f1 {
            img {
                width:100px;
                height: 18px;
                fill: white;
                margin-bottom: 27px;
            }
        }
        .feet {
            font-family: $font-subStack;
            color: white;
            margin-bottom:3px;
        }
        .f2 {
            font-weight: 400;
        }
        .f3 {
            font-weight: 200;
        }
    }
}
.gapper {
    height: 50px;
}

@media only screen and (min-width: $max-width) {
    body {
        width: $max-width;
        margin: auto;
    }
    .subMenuFlex{
        .dishFlex {
            .dishDisc {
                width: calc(#{$max-width} - 180px);
            }
        }
    }
}