a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.backArrow {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  font-size: 2em;
}

.backArrow i {
  color: black;
}

body {
  margin: 0px;
}

.t1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 24px;
}

.t2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}

.resHeartContain {
  right: 40px;
  top: 38px;
  position: absolute;
}

.resHeartContain div {
  position: absolute;
}

.resHeartContain .resHeartTop {
  color: gray;
  z-index: 1;
  font-size: 24px;
}

.resHeartContain .resHeartBottom {
  color: white;
  z-index: -1;
  font-size: 24px;
}

.resHeartBottom {
  z-index: 93;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #9356dc), color-stop(50%, white));
  background-image: linear-gradient(0deg, #9356dc 50%, white 50%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.resHeartTop:hover ~ .resHeartBottom {
  -webkit-animation: heartAni 420ms ease 1;
          animation: heartAni 420ms ease 1;
  background-position: 50% 100%;
}

@-webkit-keyframes heartAni {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes heartAni {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@-webkit-keyframes slightFade {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slightFade {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes tileFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-filter: drop-shadow(0px 0px 4px #b8b8b8);
            filter: drop-shadow(0px 0px 4px #b8b8b8);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-filter: drop-shadow(0px 10px 8px #b8b8b8);
            filter: drop-shadow(0px 10px 8px #b8b8b8);
  }
}

@keyframes tileFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-filter: drop-shadow(0px 0px 4px #b8b8b8);
            filter: drop-shadow(0px 0px 4px #b8b8b8);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-filter: drop-shadow(0px 10px 8px #b8b8b8);
            filter: drop-shadow(0px 10px 8px #b8b8b8);
  }
}

header {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .logoBanner {
  background-color: white;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 3px 5px #cfcfcf);
          filter: drop-shadow(0px 3px 5px #cfcfcf);
}

header nav .logoBanner img {
  width: 164;
}

header .banner img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

header .titleCard {
  width: 100%;
  height: 70px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -34px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .titleFlex {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .resHeartMove {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .subMenuGapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 94%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .menuFlex .underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 14px;
}

main .menuFlex .menuSecFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .menuFlex .menuSecFlex .mTile {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

main .exploreButton button {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-filter: drop-shadow(0px 10px 8px #b8b8b8);
          filter: drop-shadow(0px 10px 8px #b8b8b8);
  margin-top: 50px;
  margin-bottom: 70px;
}

main .exploreButton button:hover {
  opacity: 0.8;
}

.menuSecFlex div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menuSecFlex div:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menuSecFlex div:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.menuSecFlex div:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.subMenuFlex {
  opacity: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-filter: drop-shadow(0px 10px 8px #b8b8b8);
          filter: drop-shadow(0px 10px 8px #b8b8b8);
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-animation: tileFadeIn 1s;
          animation: tileFadeIn 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.subMenuFlex .dishFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8px;
  margin-top: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subMenuFlex .dishFlex .dish {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.subMenuFlex .dishFlex .dishDisc {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subMenuFlex .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 8px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.subMenuFlex .checkMark {
  height: 66px;
  overflow: hidden;
  text-align: center;
  width: 0px;
  font-size: 34px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.subMenuFlex .checkMark i {
  color: white;
  margin-top: 18px;
  -webkit-transform: translateX(100px) rotate(180deg);
          transform: translateX(100px) rotate(180deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.subMenuFlex .dishFlex .dishDisc {
  width: 80vw;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.subMenuFlex {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #99E2D0), color-stop(50%, white));
  background: linear-gradient(270deg, #99E2D0 50%, white 50%);
  background-size: 200%, 200%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.subMenuFlex .price {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.subMenuFlex:hover {
  background-position: -80px, 100%;
}

.subMenuFlex:hover .dishFlex .dishDisc {
  width: calc(80vw - 75px);
}

.subMenuFlex:hover .checkMark {
  width: 80px;
}

.subMenuFlex:hover .checkMark i {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

footer {
  background-color: #353535;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footFlex {
  width: 90%;
  height: 70%;
}

footer .footFlex .f1 img {
  width: 100px;
  height: 18px;
  fill: white;
  margin-bottom: 27px;
}

footer .footFlex .feet {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 3px;
}

footer .footFlex .f2 {
  font-weight: 400;
}

footer .footFlex .f3 {
  font-weight: 200;
}

.gapper {
  height: 50px;
}

@media only screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin: auto;
  }
  .subMenuFlex .dishFlex .dishDisc {
    width: calc(1100px - 180px);
  }
}
/*# sourceMappingURL=substyle.css.map */